.top-nav-not-signed-in-top-nav-signed-in {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.top-nav-not-signed-in-centered {
  width: 100%;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.top-nav-not-signed-in-left {
  width: 769px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.top-nav-not-signed-in-logo {
  width: 105px;
  margin-left: var(--dl-space-space-halfunit);
}
.top-nav-not-signed-in-links {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.top-nav-not-signed-in-navlink {
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.top-nav-not-signed-in-text {
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.top-nav-not-signed-in-text1 {
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.top-nav-not-signed-in-text2 {
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.top-nav-not-signed-in-navlink1 {
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.top-nav-not-signed-in-navlink2 {
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.top-nav-not-signed-in-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.top-nav-not-signed-in-login {
  margin-right: 20px;
}
.top-nav-not-signed-in-navlink3 {
  display: contents;
}
.top-nav-not-signed-in-sign-up {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.top-nav-not-signed-in-sign-up:hover {
  background-color: var(--dl-color-template-blue-bg);
}
.top-nav-not-signed-in-text3 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.top-nav-not-signed-in-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.top-nav-not-signed-in-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}

@media(max-width: 991px) {
  .top-nav-not-signed-in-top-nav-signed-in {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .top-nav-not-signed-in-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .top-nav-not-signed-in-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .top-nav-not-signed-in-logo {
    width: 64px;
  }
  .top-nav-not-signed-in-links {
    display: none;
  }
  .top-nav-not-signed-in-mobile-menu-button {
    display: flex;
  }
}
@media(max-width: 767px) {
  .top-nav-not-signed-in-top-nav-signed-in {
    padding-left: 0px;
    padding-right: 0px;
  }
  .top-nav-not-signed-in-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .top-nav-not-signed-in-left {
    margin-left: var(--dl-space-space-unit);
  }
  .top-nav-not-signed-in-right {
    margin-right: var(--dl-space-space-unit);
  }
}

.blog-post-card2-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  border-radius: 50px;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-template-blue-bg-light-hover);
}
.blog-post-card2-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card2-image {
  width: 40%;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 50px;
}
.blog-post-card2-container {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.blog-post-card2-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-card2-text {
  color: var(--dl-color-gray-white);
  font-weight: 600;
  text-transform: uppercase;
}
.blog-post-card2-text01 {
  color: var(--dl-color-gray-white);
  font-weight: 300;
}
.blog-post-card2-text02 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card2-link {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 50px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
  transition: 0.3s;
}
.blog-post-card2-link:hover {
  background-color: var(--dl-color-gray-500);
}
.blog-post-card2-text03 {
  color: var(--dl-color-gray-white);
  font-size: 1.25rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card2-stats {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  justify-content: center;
}
.blog-post-card2-stat {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: 32px;
  flex-direction: column;
}
.blog-post-card2-icon {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.blog-post-card2-text04 {
  color: var(--dl-color-gray-white);
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.blog-post-card2-text05 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
.blog-post-card2-stat1 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.blog-post-card2-icon3 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.blog-post-card2-text08 {
  color: var(--dl-color-gray-white);
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.blog-post-card2-text09 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
.blog-post-card2-stat2 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.blog-post-card2-icon5 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.blog-post-card2-text10 {
  color: var(--dl-color-gray-white);
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.blog-post-card2-text13 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
.blog-post-card2-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-card2-profile {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
}
.blog-post-card2-button {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-radius: 50px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
  transition: 0.3s;
  border: None;
}
.blog-post-card2-button:hover {
  background-color: var(--dl-color-gray-500);
}
.blog-post-card2-root-class-name {
  background-color: var(--dl-color-template-blue-bg-light-hover);
}

.blog-post-card2-root-class-name2 {
  background-color: var(--dl-color-template-blue-bg-light-hover);
}
.blog-post-card2-root-class-name3 {
  width: var(--dl-size-size-xxlarge);
  background-color: var(--dl-color-template-blue-bg-light-hover);
}


.blog-post-card2-root-class-name6 {
  background-color: var(--dl-color-template-blue-bg-light-hover);
}
.blog-post-card2-root-class-name7 {
  background-color: var(--dl-color-template-blue-bg-light-hover);
}
@media(max-width: 1200px) {
  .blog-post-card2-text03 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .blog-post-card2-stats {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .blog-post-card2-stat {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .blog-post-card2-text05 {
    font-size: 2rem;
  }
  .blog-post-card2-stat1 {
    padding-top: 0px;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: 0px;
  }
  .blog-post-card2-text09 {
    color: var(--dl-color-gray-white);
    font-size: 2rem;
    font-weight: 300;
  }
  .blog-post-card2-stat2 {
    padding: 0px;
  }
  .blog-post-card2-text13 {
    color: var(--dl-color-gray-white);
    font-size: 2rem;
    font-weight: 300;
  }
}
@media(max-width: 991px) {
  .blog-post-card2-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
  .blog-post-card2-image {
    width: 40%;
    height: auto;
  }
  .blog-post-card2-stats {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-post-card2-stat {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .blog-post-card2-text05 {
    font-size: 2rem;
  }
  .blog-post-card2-stat1 {
    padding: 0px;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .blog-post-card2-text09 {
    font-size: 2rem;
  }
  .blog-post-card2-stat2 {
    padding: 0px;
  }
  .blog-post-card2-text13 {
    font-size: 2rem;
  }
}
@media(max-width: 767px) {
  .blog-post-card2-blog-post-card {
    flex-direction: column;
  }
  .blog-post-card2-image {
    width: 100%;
  }
  .blog-post-card2-stats {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .blog-post-card2-stat {
    padding: var(--dl-space-space-unit);
  }
  .blog-post-card2-text04 {
    text-align: center;
  }
  .blog-post-card2-stat1 {
    padding: var(--dl-space-space-unit);
  }
  .blog-post-card2-text08 {
    text-align: center;
  }
  .blog-post-card2-stat2 {
    padding: var(--dl-space-space-unit);
  }
  .blog-post-card2-text10 {
    text-align: center;
  }
  .blog-post-card2-text11 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .blog-post-card2-stats {
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .blog-post-card2-container2 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.gallery-card1-gallery-card {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 50px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-template-blue-bg-light-hover);
}
.gallery-card1-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50px;
}
.gallery-card1-text {
  color: var(--dl-color-gray-white);
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 800;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-card1-text1 {
  color: var(--dl-color-gray-white);
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
.gallery-card1-link {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-twounits);
}
.gallery-card1-navlink {
  color: var(--dl-color-gray-white);
  margin: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-radius: 50px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
  transition: 0.3s;
  border: None;
}
.gallery-card1-navlink:hover {
background-color: var(--dl-color-gray-500);
}
.popular-banner {
  border-radius: 50px;
  width: 100%;
}



































@media(max-width: 767px) {
  .gallery-card1-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card1-image {
    height: 10rem;
  }
}

.movie-selection-container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-template-blue-bg);
}
.movie-selection-page-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.movie-selection-container1 {
  width: auto;
  height: 38px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  justify-content: center;
}
.movie-selection-heading {
  color: var(--dl-color-gray-white);
  align-self: center;
}
.movie-selection-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
}
.movie-selection-container2 {
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.movie-selection-container3 {
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.movie-selection-container4 {
  width: auto;
  height: 38px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  margin-bottom: 0px;
}
.movie-selection-heading1 {
  color: var(--dl-color-gray-white);
}
.movie-selection-gallery {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.movie-selection-container5 {
  width: auto;
  height: 38px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  margin-bottom: 0px;
}
.movie-selection-heading2 {
  color: var(--dl-color-gray-white);
}
.movie-selection-gallery1 {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.movie-selection-container6 {
  width: auto;
  height: 38px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  margin-bottom: 0px;
}
.movie-selection-heading3 {
  color: var(--dl-color-gray-white);
}
.movie-selection-gallery2 {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.movie-selection-container7 {
  width: auto;
  height: 38px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  margin-bottom: 0px;
}
.movie-selection-heading4 {
  color: var(--dl-color-gray-white);
}
.movie-selection-gallery3 {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.movie-selection-container8 {
  width: auto;
  height: 38px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  margin-bottom: 0px;
}
.movie-selection-heading5 {
  color: var(--dl-color-gray-white);
}
.movie-selection-gallery4 {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
@media(max-width: 1200px) {
  .movie-selection-page-container {
    padding-top: var(--dl-space-space-unit);
  }
}
@media(max-width: 991px) {
  .movie-selection-gallery {
    grid-template-columns: 1fr 1fr;
  }
  .movie-selection-gallery1 {
    grid-template-columns: 1fr 1fr;
  }
  .movie-selection-gallery2 {
    grid-template-columns: 1fr 1fr;
  }
  .movie-selection-gallery3 {
    grid-template-columns: 1fr 1fr;
  }
  .movie-selection-gallery4 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .movie-selection-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .movie-selection-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .movie-selection-gallery1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .movie-selection-gallery2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .movie-selection-gallery3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .movie-selection-gallery4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .movie-selection-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .movie-selection-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .movie-selection-gallery1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .movie-selection-gallery2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .movie-selection-gallery3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .movie-selection-gallery4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
