.top-nav-signed-in-top-nav-signed-in {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.top-nav-signed-in-centered {
  width: 100%;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.top-nav-signed-in-left {
  width: 769px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.top-nav-signed-in-logo {
  width: 105px;
  margin-left: var(--dl-space-space-halfunit);
}
.top-nav-signed-in-links {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.top-nav-signed-in-navlink {
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.top-nav-signed-in-text {
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.top-nav-signed-in-text1 {
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.top-nav-signed-in-text2 {
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.top-nav-signed-in-navlink1 {
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.top-nav-signed-in-navlink2 {
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.top-nav-signed-in-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.top-nav-signed-in-profile {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.top-nav-signed-in-icon {
  width: 35px;
  height: 20px;
}
.top-nav-signed-in-login {
  align-self: flex-end;
  margin-right: 20px;
}
.top-nav-signed-in-points {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-template-blue-bg);
  border-width: 2px;
  margin-right: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  border-radius: 16px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.top-nav-signed-in-point-bal {
  align-self: flex-end;
  margin-right: 0px;
}
.top-nav-signed-in-navlink3 {
  display: contents;
}
.top-nav-signed-in-sign-up {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #000000;
}
.top-nav-signed-in-sign-up:hover {
  background-color: #5228F5;
}
.top-nav-signed-in-text3 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.top-nav-signed-in-icon2 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  align-self: center;
  margin-left: var(--dl-space-space-halfunit);
}
.top-nav-signed-in-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.top-nav-signed-in-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.top-nav-signed-in-root-class-name {
  margin-top: 0px;
}

@media(max-width: 991px) {
  .top-nav-signed-in-top-nav-signed-in {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .top-nav-signed-in-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .top-nav-signed-in-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .top-nav-signed-in-logo {
    width: 64px;
  }
  .top-nav-signed-in-links {
    display: none;
  }
  .top-nav-signed-in-login {
    display: none;
  }
  .top-nav-signed-in-point-bal {
    display: none;
  }
  .top-nav-signed-in-sign-up {
    display: none;
  }
  .top-nav-signed-in-mobile-menu-button {
    display: flex;
  }
}
@media(max-width: 767px) {
  .top-nav-signed-in-top-nav-signed-in {
    padding-left: 0px;
    padding-right: 0px;
  }
  .top-nav-signed-in-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .top-nav-signed-in-left {
    margin-left: var(--dl-space-space-unit);
  }
  .top-nav-signed-in-right {
    margin-right: var(--dl-space-space-unit);
  }
  .top-nav-signed-in-login {
    display: none;
  }
  .top-nav-signed-in-point-bal {
    display: none;
  }
  .top-nav-signed-in-sign-up {
    display: none;
  }
}

.payment-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.payment-page-container {
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-template-blue-bg);
}
.payment-title {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.payment-text {
  color: var(--dl-color-gray-white);
  font-size: 56px;
}
.payment-main-box {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.payment-tabs {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.payment-payment {
  flex: 0 0 auto;
  width: 142px;
  height: 58px;
  display: flex;
  z-index: 101;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-bottom-left-radius: 0px;
}
.payment-past-purchases {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #ffffff;
}
.payment-order-overview {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  align-self: flex-start;
  margin-top: -10px;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.payment-title-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.payment-text03 {
  width: 434px;
  font-size: 35px;
}
.payment-container01 {
  width: 100%;
  height: 344px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.payment-container02 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.payment-text04 {
  font-size: 20px;
  align-self: center;
  margin-top: 15px;
}
.payment-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment-image {
  width: 84px;
  height: 104px;
  object-fit: cover;
}
.payment-text05 {
  z-index: 100;
  margin-top: 30px;
  margin-left: 95px;
}
.payment-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.payment-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.payment-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.payment-container07 {
  flex: 0 0 auto;
  width: 165px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.payment-text14 {
  align-self: center;
  text-align: left;
}
.payment-text15 {
  align-self: center;
}
.payment-text16 {
  align-self: center;
}
.payment-container08 {
  flex: 0 0 auto;
  width: 144px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.payment-textinput {
  width: 42px;
  height: 17px;
  align-self: center;
  margin-top: 25px;
  text-align: right;
  padding-top: 0rem;
  padding-left: 0rem;
  padding-right: 0px;
  padding-bottom: 0rem;
}
.payment-textinput01 {
  width: 42px;
  height: 17px;
  align-self: center;
  text-align: right;
  padding-top: 0rem;
  padding-left: 0rem;
  padding-right: 0px;
  padding-bottom: 0rem;
}
.payment-textinput02 {
  width: 42px;
  height: 17px;
  align-self: center;
  text-align: right;
  padding-top: 0rem;
  padding-left: 0rem;
  padding-right: 0px;
  padding-bottom: 0rem;
}
.payment-container09 {
  flex: 0 0 auto;
  width: 152px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.payment-text17 {
  align-self: flex-start;
}
.payment-text18 {
  align-self: flex-start;
}
.payment-text19 {
  align-self: flex-start;
}
.payment-container10 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.payment-snacks {
  font-size: 20px;
  margin-top: 15px;
}
.payment-container11 {
  width: 100%;
  height: 156px;
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: flex-start;
}
.payment-container12 {
  flex: 0 0 auto;
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.payment-text20 {
  align-self: flex-start;
}
.payment-text21 {
  align-self: flex-start;
}
.payment-container13 {
  flex: 0 0 auto;
  width: 120px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.payment-textinput03 {
  width: 42px;
  height: 17px;
  align-self: flex-start;
  margin-top: 0px;
  text-align: right;
  padding-top: 0rem;
  padding-left: 0rem;
  padding-right: 0px;
  padding-bottom: 0rem;
}
.payment-textinput04 {
  width: 42px;
  height: 17px;
  align-self: flex-start;
  margin-top: 0px;
  text-align: right;
  padding-top: 0rem;
  padding-left: 0rem;
  padding-right: 0px;
  padding-bottom: 0rem;
}
.payment-container14 {
  flex: 0 0 auto;
  width: 145px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.payment-text22 {
  align-self: flex-start;
}
.payment-text23 {
  align-self: flex-start;
}
.payment-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.payment-container16 {
  flex: 0 0 auto;
  width: 133px;
  height: 31px;
  display: flex;
  align-items: center;
  margin-right: 35px;
  justify-content: center;
}
.payment-text24 {
  margin-right: 20px;
}
.payment-container17 {
  flex: 0 0 auto;
  width: 133px;
  height: 31px;
  display: flex;
  align-items: center;
  margin-right: 15px;
  justify-content: center;
}
.payment-text26 {
  margin-right: 30px;
}
.payment-text27 {
  margin-right: 20px;
}
.payment-container18 {
  flex: 0 0 auto;
  width: 133px;
  height: 31px;
  display: flex;
  align-items: center;
  margin-right: 21px;
  justify-content: center;
}
.payment-text28 {
  margin-right: 22px;
}
.payment-container19 {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.payment-text30 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.payment-dual-col {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.payment-dropdowns {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.payment-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  cursor: pointer;
}
.payment-container20:hover {
  background-color: var(--dl-color-gray-900);
}
.payment-icon {
  width: auto;
  height: 24px;
  margin-left: 5px;
  margin-right: 0px;
}
.payment-text31 {
  margin-top: 3px;
  margin-left: 10px;
}
.payment-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  cursor: pointer;
}
.payment-container21:hover {
  background-color: var(--dl-color-gray-900);
}
.payment-icon04 {
  width: auto;
  height: 24px;
  margin-left: 5px;
  margin-right: 0px;
}
.payment-text32 {
  margin-top: 3px;
  margin-left: 10px;
}
.payment-container22 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: center;
}
.payment-container23 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.payment-container24 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.payment-text33 {
  margin-top: 3px;
}
.payment-icon08 {
  width: 50px;
  height: 26px;
}
.payment-text34 {
  margin-top: 3px;
}
.payment-container25 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.payment-container26 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.payment-icon10 {
  width: 118px;
  height: 40px;
  align-self: flex-end;
  margin-right: var(--dl-space-space-unit);
}
.payment-text36 {
  align-self: flex-end;
  margin-right: 5px;
  margin-bottom: 5px;
}
.payment-container27 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  cursor: pointer;
}
.payment-container27:hover {
  background-color: var(--dl-color-gray-900);
}
.payment-icon12 {
  width: auto;
  height: 24px;
  margin-left: 5px;
  margin-right: 0px;
}
.payment-text37 {
  margin-top: 3px;
  margin-left: 10px;
}
.payment-container28 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
}
.payment-container29 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.payment-text39 {
  margin-left: 10px;
}
.payment-container30 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-right: 5px;
  justify-content: flex-end;
}
.payment-text40 {
  color: #007dff;
}
.payment-container31 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  cursor: pointer;
}
.payment-container31:hover {
  background-color: var(--dl-color-gray-900);
}
.payment-icon16 {
  width: auto;
  height: 24px;
  margin-left: 5px;
  margin-right: 0px;
}
.payment-text41 {
  margin-top: 3px;
  margin-left: 10px;
}
.payment-container32 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: flex-start;
}
.payment-container33 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.payment-textinput05 {
  width: 210px;
  height: 35px;
  margin-left: 10px;
}
.payment-container34 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  justify-content: flex-start;
  border-top-width: 0px;
  border-bottom-width: 0px;
}
.payment-container35 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.payment-textinput06 {
  width: 145px;
  height: 35px;
  margin-left: 10px;
}
.payment-container36 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.payment-text44 {
  margin-left: 5px;
}
.payment-textinput07 {
  width: 135px;
  height: 35px;
  margin-left: 10px;
}
.payment-container37 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 0px;
  justify-content: flex-start;
  border-top-width: 0px;
}
.payment-textinput08 {
  width: 201px;
  height: 35px;
  text-align: center;
  margin-left: 5px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.payment-container38 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.payment-textinput09 {
  width: 201px;
  height: 35px;
  text-align: center;
  margin-left: 5px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.payment-apply-coupon {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.payment-navlink {
  display: contents;
}
.payment-container39 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
  text-decoration: none;
}
.payment-container40 {
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: center;
}
.payment-container41 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 5px;
}
.payment-container42 {
  color: #007dff;
  margin-right: 10px;
}
.payment-container43 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.payment-container44 {
  flex: 0 0 auto;
  width: 128px;
  height: 26px;
  display: flex;
  margin-top: 5px;
  align-items: flex-start;
  padding-top: 3px;
  flex-direction: column;
  padding-bottom: 0px;
}
.payment-textinput15 {
  margin-top: 5px;
  text-align: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}