.top-nav-sign-up-page-top-nav-signed-in {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.top-nav-sign-up-page-centered {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.top-nav-sign-up-page-left {
  width: 769px;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sevenunits);
}
.top-nav-sign-up-page-logo {
  top: 0px;
  left: 8px;
  width: 105px;
  bottom: 0px;
  margin: auto;
  position: absolute;
}
.top-nav-sign-up-page-links {
  top: 0px;
  right: 41px;
  bottom: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.top-nav-sign-up-page-navlink {
  text-decoration: none;
}
.top-nav-sign-up-page-text {
  text-decoration: none;
}
.top-nav-sign-up-page-text1 {
  text-decoration: none;
}
.top-nav-sign-up-page-text2 {
  text-decoration: none;
}
.top-nav-sign-up-page-navlink1 {
  text-decoration: none;
}
.top-nav-sign-up-page-navlink2 {
  text-decoration: none;
}
.top-nav-sign-up-page-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.top-nav-sign-up-page-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.top-nav-sign-up-page-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
@media(max-width: 991px) {
  .top-nav-sign-up-page-top-nav-signed-in {
    height: auto;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .top-nav-sign-up-page-centered {
    height: 60px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
  }
  .top-nav-sign-up-page-left {
    width: 100%;
    margin-left: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .top-nav-sign-up-page-logo {
    width: 64px;
  }
  .top-nav-sign-up-page-links {
    display: none;
  }
  .top-nav-sign-up-page-right {
    top: 0px;
    right: 0px;
    width: 40px;
    bottom: 0px;
    position: absolute;
    margin-top: auto;
    margin-left: auto;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: auto;
  }
  .top-nav-sign-up-page-mobile-menu-button {
    display: flex;
  }
}
@media(max-width: 767px) {
  .top-nav-sign-up-page-top-nav-signed-in {
    padding-left: 0px;
    padding-right: 0px;
  }
  .top-nav-sign-up-page-centered {
    height: 60px;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
  }
  .top-nav-sign-up-page-left {
    width: 100%;
    height: 100%;
    margin-left: var(--dl-space-space-unit);
    padding-bottom: 0px;
  }
  .top-nav-sign-up-page-links {
    display: none;
  }
  .top-nav-sign-up-page-right {
    top: 0px;
    right: 0px;
    width: 40px;
    display: flex;
    position: absolute;
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .top-nav-sign-up-page-top-nav-signed-in {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .top-nav-sign-up-page-centered {
    position: relative;
  }
  .top-nav-sign-up-page-right {
    top: 0px;
    right: 0px;
    width: var(--dl-size-size-xsmall);
    position: absolute;
  }
  .top-nav-sign-up-page-burger-menu {
    top: 10px;
    right: 0px;
    width: 40px;
    position: absolute;
  }
}

.sign-up-with-email-personal-information-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.sign-up-with-email-personal-information-page-container {
  width: 100%;
  height: 1006px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: 754px;
  background-color: var(--dl-color-template-blue-bg);
}
.sign-up-with-email-personal-information-title {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-with-email-personal-information-heading {
  color: var(--dl-color-gray-white);
  font-size: 56px;
  padding-top: var(--dl-space-space-threeunits);
}
.sign-up-with-email-personal-information-main-box {
  width: 100%;
  height: 755px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-with-email-personal-information-main-view {
  width: 100%;
  height: 469px;
  display: flex;
  padding: 0px;
  z-index: 100;
  position: relative;
  align-self: flex-start;
  margin-top: -10px;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.sign-up-with-email-personal-information-left-panel {
  top: 1px;
  left: 0px;
  width: 35%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.sign-up-with-email-personal-information-progression-bar {
  width: 33px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-with-email-personal-information-progression-bar-line {
  flex: 0 0 auto;
  width: 2px;
  height: 90%;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.sign-up-with-email-personal-information-image {
  top: -14px;
  left: -14px;
  width: 30px;
  position: absolute;
  object-fit: cover;
}
.sign-up-with-email-personal-information-icon {
  left: -9px;
  width: 20px;
  bottom: 0px;
  height: 20px;
  position: absolute;
  margin-top: 105px;
  margin-bottom: -10px;
}
.sign-up-with-email-personal-information-icon2 {
  left: -9px;
  width: 20px;
  bottom: 0px;
  height: 20px;
  position: absolute;
  margin-top: 110px;
  margin-bottom: 110px;
}
.sign-up-with-email-personal-information-icon4 {
  top: 0px;
  left: -9px;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: 110px;
  margin-bottom: 110px;
}
.sign-up-with-email-personal-information-titles {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-with-email-personal-information-personal-information {
  flex: 0 0 auto;
  width: 100%;
  height: 25%;
  display: flex;
  align-items: flex-start;
  padding-bottom: 58px;
}
.sign-up-with-email-personal-information-text02 {
  color: var(--dl-color-template-blue-bg-light-hover);
  font-size: 22px;
  align-self: center;
  font-weight: 700;
}
.sign-up-with-email-personal-information-password-setup {
  flex: 0 0 auto;
  width: 100%;
  height: 25%;
  display: flex;
  align-items: flex-start;
  padding-bottom: 20px;
}
.sign-up-with-email-personal-information-text03 {
  color: var(--dl-color-template-blue-bg-light-hover);
  font-size: 14px;
  align-self: center;
  font-weight: 700;
}
.sign-up-with-email-personal-information-payment-details {
  flex: 0 0 auto;
  width: 100%;
  height: 25%;
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}
.sign-up-with-email-personal-information-text04 {
  color: var(--dl-color-template-blue-bg-light-hover);
  font-size: 14px;
  align-self: center;
  font-weight: 700;
}
.sign-up-with-email-personal-information-email-confirmation {
  flex: 0 0 auto;
  width: 100%;
  height: 25%;
  display: flex;
  align-items: flex-start;
  padding-top: 58px;
}
.sign-up-with-email-personal-information-text05 {
  color: var(--dl-color-template-blue-bg-light-hover);
  font-size: 14px;
  align-self: center;
  font-weight: 700;
}
.sign-up-with-email-personal-information-right-panel {
  top: 1px;
  right: 0px;
  width: 65%;
  height: 86%;
  margin: var(--dl-space-space-twounits);
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.sign-up-with-email-personal-information-profile-pic-container {
  flex: 0 0 auto;
  height: 100px;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  justify-content: flex-end;
}
.sign-up-with-email-personal-information-picture-container {
  flex: 0 0 auto;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-with-email-personal-information-profile-picture {
  width: 80px;
  height: 100px;
  align-self: flex-end;
  object-fit: cover;
}
.sign-up-with-email-personal-information-upload-picture-container {
  flex: 0 0 auto;
  width: 70%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-email-personal-information-upload-picture-button {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #000000;
}
.sign-up-with-email-personal-information-upload-picture-button:hover {
  background-color: #5228F5;
}
.sign-up-with-email-personal-information-upload-picture {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.sign-up-with-email-personal-information-firstname-container {
  flex: 0 0 auto;
  height: 50px;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  justify-content: flex-end;
}
.sign-up-with-email-personal-information-firstname {
  flex: 0 0 auto;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-email-personal-information-text06 {
  align-self: flex-end;
  font-style: normal;
  font-weight: 700;
}
.sign-up-with-email-personal-information-text08 {
  color: #ff0000;
}
.sign-up-with-email-personal-information-firstname-input {
  flex: 0 0 auto;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-email-personal-information-lastname-container {
  flex: 0 0 auto;
  height: 50px;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  justify-content: flex-end;
}
.sign-up-with-email-personal-information-lastname {
  flex: 0 0 auto;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-email-personal-information-text09 {
  align-self: flex-end;
  font-style: normal;
  font-weight: 700;
}
.sign-up-with-email-personal-information-text11 {
  color: #ff0000;
}
.sign-up-with-email-personal-information-lastname-input {
  flex: 0 0 auto;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-email-personal-information-email-container {
  flex: 0 0 auto;
  height: 50px;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  justify-content: flex-end;
}
.sign-up-with-email-personal-information-email {
  flex: 0 0 auto;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-email-personal-information-text12 {
  align-self: flex-end;
  font-style: normal;
  font-weight: 700;
}
.sign-up-with-email-personal-information-text14 {
  color: #ff0000;
}
.sign-up-with-email-personal-information-email-input {
  flex: 0 0 auto;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-email-personal-information-age-genger-container {
  flex: 0 0 auto;
  width: auto;
  height: 50px;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  justify-content: flex-end;
}
.sign-up-with-email-personal-information-age-container {
  flex: 0 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.sign-up-with-email-personal-information-age {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-email-personal-information-text15 {
  align-self: flex-end;
  font-style: normal;
  font-weight: 700;
}
.sign-up-with-email-personal-information-text17 {
  color: #ff0000;
}
.sign-up-with-email-personal-information-age-input {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-email-personal-information-textinput3 {
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
}
.sign-up-with-email-personal-information-gender-container {
  flex: 0 0 auto;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.sign-up-with-email-personal-information-gender {
  width: 91px;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-email-personal-information-text19 {
  align-self: flex-end;
  font-style: normal;
  font-weight: 700;
}
.sign-up-with-email-personal-information-gender-input {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-email-personal-information-textinput4 {
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
}
.sign-up-with-email-personal-information-next-button-container {
  flex: 0 0 auto;
  height: 50px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  justify-content: flex-end;
}
.sign-up-with-email-personal-information-next-button {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #000000;
}
.sign-up-with-email-personal-information-next-button:hover {
  background-color: #5228F5;
}
.sign-up-with-email-personal-information-next {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 991px) {
  .sign-up-with-email-personal-information-titles {
    display: none;
  }
  .sign-up-with-email-personal-information-right-panel {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 80%;
    bottom: 0px;
    margin: auto;
    border-width: 0px;
  }
  .sign-up-with-email-personal-information-textinput {
    width: 100%;
  }
  .sign-up-with-email-personal-information-textinput1 {
    width: 100%;
  }
  .sign-up-with-email-personal-information-textinput2 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .sign-up-with-email-personal-information-left-panel {
    display: none;
  }
  .sign-up-with-email-personal-information-right-panel {
    width: 100%;
  }
}
