.top-nav-sign-up-page-top-nav-signed-in {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.top-nav-sign-up-page-centered {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.top-nav-sign-up-page-left {
  width: 769px;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sevenunits);
}
.top-nav-sign-up-page-logo {
  top: 0px;
  left: 8px;
  width: 105px;
  bottom: 0px;
  margin: auto;
  position: absolute;
}
.top-nav-sign-up-page-links {
  top: 0px;
  right: 41px;
  bottom: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.top-nav-sign-up-page-navlink {
  text-decoration: none;
}
.top-nav-sign-up-page-text {
  text-decoration: none;
}
.top-nav-sign-up-page-text1 {
  text-decoration: none;
}
.top-nav-sign-up-page-text2 {
  text-decoration: none;
}
.top-nav-sign-up-page-navlink1 {
  text-decoration: none;
}
.top-nav-sign-up-page-navlink2 {
  text-decoration: none;
}
.top-nav-sign-up-page-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.top-nav-sign-up-page-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.top-nav-sign-up-page-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
@media(max-width: 991px) {
  .top-nav-sign-up-page-top-nav-signed-in {
    height: auto;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .top-nav-sign-up-page-centered {
    height: 60px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
  }
  .top-nav-sign-up-page-left {
    width: 100%;
    margin-left: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .top-nav-sign-up-page-logo {
    width: 64px;
  }
  .top-nav-sign-up-page-links {
    display: none;
  }
  .top-nav-sign-up-page-right {
    top: 0px;
    right: 0px;
    width: 40px;
    bottom: 0px;
    position: absolute;
    margin-top: auto;
    margin-left: auto;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: auto;
  }
  .top-nav-sign-up-page-mobile-menu-button {
    display: flex;
  }
}
@media(max-width: 767px) {
  .top-nav-sign-up-page-top-nav-signed-in {
    padding-left: 0px;
    padding-right: 0px;
  }
  .top-nav-sign-up-page-centered {
    height: 60px;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
  }
  .top-nav-sign-up-page-left {
    width: 100%;
    height: 100%;
    margin-left: var(--dl-space-space-unit);
    padding-bottom: 0px;
  }
  .top-nav-sign-up-page-links {
    display: none;
  }
  .top-nav-sign-up-page-right {
    top: 0px;
    right: 0px;
    width: 40px;
    display: flex;
    position: absolute;
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .top-nav-sign-up-page-top-nav-signed-in {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .top-nav-sign-up-page-centered {
    position: relative;
  }
  .top-nav-sign-up-page-right {
    top: 0px;
    right: 0px;
    width: var(--dl-size-size-xsmall);
    position: absolute;
  }
  .top-nav-sign-up-page-burger-menu {
    top: 10px;
    right: 0px;
    width: 40px;
    position: absolute;
  }
}

.sign-up-with-phone-payment-details-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.sign-up-with-phone-payment-details-page-container {
  width: 100%;
  height: 1006px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: 754px;
  background-color: var(--dl-color-template-blue-bg);
}
.sign-up-with-phone-payment-details-title {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-with-phone-payment-details-heading {
  color: var(--dl-color-gray-white);
  font-size: 56px;
  padding-top: var(--dl-space-space-threeunits);
}
.sign-up-with-phone-payment-details-main-box {
  width: 100%;
  height: 755px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-with-phone-payment-details-main-view {
  width: 100%;
  height: 469px;
  display: flex;
  padding: 0px;
  z-index: 100;
  position: relative;
  align-self: flex-start;
  margin-top: -10px;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.sign-up-with-phone-payment-details-left-panel {
  top: 1px;
  left: 0px;
  width: 35%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.sign-up-with-phone-payment-details-progression-bar {
  width: 33px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-with-phone-payment-details-progression-bar-line {
  flex: 0 0 auto;
  width: 2px;
  height: 90%;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.sign-up-with-phone-payment-details-navlink {
  display: contents;
}
.sign-up-with-phone-payment-details-icon {
  top: -10px;
  left: -9px;
  width: 20px;
  height: 20px;
  position: absolute;
  text-decoration: none;
}
.sign-up-with-phone-payment-details-image {
  left: -14px;
  width: 30px;
  bottom: -14px;
  position: absolute;
  object-fit: cover;
}
.sign-up-with-phone-payment-details-navlink1 {
  display: contents;
}
.sign-up-with-phone-payment-details-icon2 {
  top: 0px;
  left: -9px;
  width: 20px;
  bottom: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
.sign-up-with-phone-payment-details-titles {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-with-phone-payment-details-personal-information {
  flex: 0 0 auto;
  width: 100%;
  height: 33%;
  display: flex;
  align-items: flex-start;
  padding-top: 14px;
}
.sign-up-with-phone-payment-details-navlink2 {
  color: var(--dl-color-template-blue-bg-light-hover);
  font-size: 14px;
  align-self: flex-start;
  font-weight: 700;
  text-decoration: none;
}
.sign-up-with-phone-payment-details-password-setup {
  flex: 0 0 auto;
  width: 100%;
  height: 34%;
  display: flex;
  position: relative;
  align-items: center;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.sign-up-with-phone-payment-details-navlink3 {
  color: var(--dl-color-template-blue-bg-light-hover);
  position: absolute;
  font-size: 14px;
  align-self: center;
  font-weight: 700;
  text-decoration: none;
}
.sign-up-with-phone-payment-details-payment-details {
  flex: 0 0 auto;
  width: 100%;
  height: 33%;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-up-with-phone-payment-details-text2 {
  color: var(--dl-color-template-blue-bg-light-hover);
  font-size: 22px;
  align-self: flex-end;
  font-weight: 700;
}
.sign-up-with-phone-payment-details-right-panel {
  top: 1px;
  right: 0px;
  width: 65%;
  height: 86%;
  margin: var(--dl-space-space-twounits);
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.sign-up-with-phone-payment-details-card-owner-container {
  flex: 0 0 auto;
  height: 80px;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  justify-content: flex-end;
}
.sign-up-with-phone-payment-details-card-owner {
  flex: 0 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-phone-payment-details-text3 {
  align-self: flex-end;
  font-style: normal;
  font-weight: 700;
}
.sign-up-with-phone-payment-details-firstname-input {
  flex: 0 0 auto;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-phone-payment-details-textinput {
  width: 70%;
}
.sign-up-with-phone-payment-details-card-number-container {
  flex: 0 0 auto;
  height: 80px;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  justify-content: flex-end;
}
.sign-up-with-phone-payment-details-card-number {
  flex: 0 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-phone-payment-details-text4 {
  align-self: flex-end;
  font-style: normal;
  font-weight: 700;
}
.sign-up-with-phone-payment-details-lastname-input {
  flex: 0 0 auto;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-phone-payment-details-textinput1 {
  width: 80%;
}
.sign-up-with-phone-payment-details-exp-date-container {
  flex: 0 0 auto;
  height: 80px;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  justify-content: flex-end;
}
.sign-up-with-phone-payment-details-expiration-date {
  flex: 0 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-phone-payment-details-text5 {
  align-self: flex-end;
  font-style: normal;
  font-weight: 700;
}
.sign-up-with-phone-payment-details-email-input {
  flex: 0 0 auto;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-phone-payment-details-textinput2 {
  width: 35%;
}
.sign-up-with-phone-payment-details-exp-date-container1 {
  flex: 0 0 auto;
  height: 80px;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  justify-content: flex-end;
}
.sign-up-with-phone-payment-details-expiration-date1 {
  flex: 0 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-phone-payment-details-text6 {
  align-self: flex-end;
  font-style: normal;
  font-weight: 700;
}
.sign-up-with-phone-payment-details-email-input1 {
  flex: 0 0 auto;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
  flex-direction: column;
  justify-content: center;
}
.sign-up-with-phone-payment-details-textinput3 {
  width: 25%;
}
.sign-up-with-phone-payment-details-next-button-container {
  flex: 0 0 auto;
  height: 50px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: flex-end;
}
.sign-up-with-phone-payment-details-navlink4 {
  display: contents;
}
.sign-up-with-phone-payment-details-next-button {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #000000;
}
.sign-up-with-phone-payment-details-next-button:hover {
  background-color: #5228F5;
}
.sign-up-with-phone-payment-details-next {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 991px) {
  .sign-up-with-phone-payment-details-titles {
    display: none;
  }
  .sign-up-with-phone-payment-details-right-panel {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 80%;
    bottom: 0px;
    margin: auto;
    border-width: 0px;
  }
  .sign-up-with-phone-payment-details-textinput {
    width: 90%;
  }
  .sign-up-with-phone-payment-details-textinput1 {
    width: 100%;
  }
  .sign-up-with-phone-payment-details-textinput2 {
    width: 45%;
  }
  .sign-up-with-phone-payment-details-textinput3 {
    width: 30%;
  }
}
@media(max-width: 767px) {
  .sign-up-with-phone-payment-details-left-panel {
    display: none;
  }
  .sign-up-with-phone-payment-details-right-panel {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    border-width: 0px;
  }
  .sign-up-with-phone-payment-details-textinput {
    width: 100%;
  }
  .sign-up-with-phone-payment-details-textinput1 {
    width: 100%;
  }
  .sign-up-with-phone-payment-details-textinput2 {
    width: 100%;
  }
  .sign-up-with-phone-payment-details-textinput3 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .sign-up-with-phone-payment-details-left-panel {
    display: none;
  }
  .sign-up-with-phone-payment-details-right-panel {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    border-width: 0px;
  }
}
