<div>
  <link href="./blog-post-card1.css" rel="stylesheet" />
  <div class="blog-post-card1-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1642520075943-b5ca77921357?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE4fHxwb3Bjb3JufGVufDB8fHx8MTY2ODQ5MTIyMA&amp;ixlib=rb-4.0.3&amp;w=1500"
      class="blog-post-card1-image"
    />
    <div class="blog-post-card1-container">
      <span class="blog-post-card1-text"><span>Price</span></span>
      <span class="blog-post-card1-text1"><span>Item</span></span>
      <span class="blog-post-card1-text2">
        <span>Description of item</span>
      </span>
      <span class="blog-post-card1-text3"><span>Size</span></span>
      <select class="blog-post-card1-select">
        <option value="Small" selected>Small</option>
        <option value="Medium">Medium</option>
        <option value="Large">Large</option>
      </select>
      <div class="blog-post-card1-container1">
        <div class="blog-post-card1-container2">
          <button class="blog-post-card1-remove-btn button">
            <span>-</span>
          </button>
          <input
            type="text"
            placeholder="0"
            class="blog-post-card1-input input"
          />
          <button class="blog-post-card1-add-btn button"><span>+</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
