<div>
  <link href="./gallery-card1.css" rel="stylesheet" />
  <div class="gallery-card1-gallery-card">
    <img
      alt="Movie Title"
      src="https://images.unsplash.com/photo-1635805737707-575885ab0820?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDMxfHxtb3ZpZXxlbnwwfHx8fDE2Njg0OTExMjI&amp;ixlib=rb-4.0.3&amp;w=1500"
      class="gallery-card1-image"
    />
    <h2 class="gallery-card1-text"><span>Movie Title</span></h2>
    <span class="gallery-card1-text1"><span>Movie Rating: 3.9/5</span></span>
    <a
      href="https://www.youtube.com/watch?v=TcMBFSGVi1c&ab_channel=MarvelEntertainment"
      target="_blank"
      rel="noreferrer noopener"
      class="gallery-card1-link"
    >
      <span>Watch Trailer -></span>
    </a>
    <a href="seat-selection-main.html" class="gallery-card1-navlink button">
      <span>Buy Tickets</span>
    </a>
  </div>
</div>
