<div>
  <link href="./movie-ticket.css" rel="stylesheet" />
  <div class="movie-ticket-child">
    <div class="movie-ticket-container">
      <span class="movie-ticket-text"><span>Child</span></span>
      <span class="movie-ticket-text1"><span>$9.99</span></span>
      <span class="movie-ticket-text2"><span>Age: 0-12</span></span>
    </div>
    <div class="add-subtract-button-container">
      <button class="add-subtract-button-remove-btn button">
        <span>-</span>
      </button>
      <input
        type="text"
        placeholder="0"
        class="add-subtract-button-input input"
      />
      <button class="add-subtract-button-add-btn button"><span>+</span></button>
    </div>
  </div>
</div>
