<div>
  <link href="./order-body.css" rel="stylesheet" />
  <div class="order-body-order-body">
    <div class="order-body-container">
      <div class="order-body-tickets-details">
        <span class="order-body-text"><span>Tickets Purchased</span></span>
        <div class="order-body-movie-details">
          <span class="order-body-text01">
            <span class="order-body-text02">Movie:</span>
            <span>Avengers: Endgame</span>
          </span>
          <span class="order-body-text04">
            <span class="order-body-text05">Theatre:</span>
            <span>Carlton Theatre, Missisauga</span>
          </span>
          <span>
            <span class="order-body-text08">Showtime:</span>
            <span>4:30pm</span>
          </span>
        </div>
        <div class="order-body-ticket-numbers">
          <div class="order-body-tickets">
            <div class="order-body-container01">
              <div class="order-body-container02">
                <input type="checkbox" checked class="order-body-checkbox" />
                <span class="order-body-text10">
                  <span class="order-body-text11">Adult x 1</span>
                  <br />
                </span>
              </div>
              <div class="order-body-container03">
                <span><span>$ 10.99</span></span>
              </div>
            </div>
            <div class="order-body-container04">
              <div class="order-body-container05">
                <input type="checkbox" checked class="order-body-checkbox1" />
                <span class="order-body-text14">
                  <span class="order-body-text15">Child x 1</span>
                  <br />
                </span>
              </div>
              <div class="order-body-container06">
                <span><span>$ 8.50</span></span>
              </div>
            </div>
            <div class="order-body-container07">
              <div class="order-body-container08">
                <input type="checkbox" checked class="order-body-checkbox2" />
                <span class="order-body-text18">
                  <span class="order-body-text19">Senior x 2</span>
                  <br />
                </span>
              </div>
              <div class="order-body-container09">
                <span><span>$ 10.99</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="order-body-snack-details">
        <span class="order-body-text22"><span>Snacks Purchased</span></span>
        <div class="order-body-ticket-numbers1">
          <div class="order-body-tickets1">
            <div class="order-body-container10">
              <div class="order-body-container11">
                <input type="checkbox" checked class="order-body-checkbox3" />
                <span class="order-body-text23">
                  <span>Large Popcorn x 1</span>
                  <br />
                </span>
              </div>
              <div class="order-body-container12">
                <span><span>$ 5.99</span></span>
              </div>
            </div>
            <div class="order-body-container13">
              <div class="order-body-container14">
                <input type="checkbox" checked class="order-body-checkbox4" />
                <span class="order-body-text27">
                  <span>Reg. Fountain Drink x 1</span>
                  <br />
                </span>
              </div>
              <div class="order-body-container15">
                <span><span>$ 2.99</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="order-body-refund-options">
        <div class="order-body-container16">
          <span class="order-body-text31">
            <span>Total:</span>
            <span>$54.22</span>
          </span>
          <div class="order-body-container17">
            <a href="refund-complete.html" class="order-body-navlink">
              <div
                cursor="pointer"
                class="order-body-container18 template-button"
              >
                <span><span>Request Refund</span></span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
