<div>
  <link href="./order.css" rel="stylesheet" />
  <div class="order-order">
    <div class="order-container">
      <svg viewBox="0 0 1408 1024" class="order-icon">
        <path
          d="M0 192h896v192h-896v-192zM0 448h896v192h-896v-192zM0 704h896v192h-896v-192z"
        ></path>
        <path d="M992 576l192 192 192-192z"></path>
        <path d="M1376 512l-192-192-192 192z"></path>
      </svg>
      <span class="order-text"><span>Order # 34109408</span></span>
      <span><span>$54.22</span></span>
    </div>
    <span><span>Oct. 31 2022</span></span>
  </div>
</div>
