<div>
  <link href="./sign-up-options.css" rel="stylesheet" />
  <div class="sign-up-options-order-body">
    <div class="sign-up-options-container">
      <div class="sign-up-options-sign-up">
        <span class="sign-up-options-text">
          <span>Sign in with Google</span>
        </span>
      </div>
      <div class="sign-up-options-sign-up1">
        <span class="sign-up-options-text1">
          <span>Sign in with Facebook</span>
        </span>
      </div>
      <div class="sign-up-options-sign-up2">
        <span class="sign-up-options-text2">
          <span>Sign in with Apple</span>
        </span>
      </div>
      <div class="sign-up-options-sign-up3">
        <span class="sign-up-options-text3">
          <span>Sign up with email</span>
        </span>
      </div>
      <div class="sign-up-options-sign-up4">
        <span class="sign-up-options-text4">
          <span>Sign up with phone number</span>
        </span>
      </div>
    </div>
  </div>
</div>
