<div>
  <link href="./sign-up-with-email-steps.css" rel="stylesheet" />
  <div class="sign-up-with-email-steps-container">
    <div class="sign-up-with-email-steps-main-box">
      <div class="sign-up-with-email-steps-main-view">
        <div class="sign-up-with-email-steps-container01">
          <div class="sign-up-with-email-steps-container02">
            <div class="sign-up-with-email-steps-container03">
              <svg
                viewBox="0 0 877.7142857142857 1024"
                class="sign-up-with-email-steps-icon"
              >
                <path
                  d="M877.714 512c0 242.286-196.571 438.857-438.857 438.857s-438.857-196.571-438.857-438.857 196.571-438.857 438.857-438.857 438.857 196.571 438.857 438.857z"
                ></path></svg
              ><svg
                viewBox="0 0 877.7142857142857 1024"
                class="sign-up-with-email-steps-icon2"
              >
                <path
                  d="M877.714 512c0 242.286-196.571 438.857-438.857 438.857s-438.857-196.571-438.857-438.857 196.571-438.857 438.857-438.857 438.857 196.571 438.857 438.857z"
                ></path></svg
              ><svg
                viewBox="0 0 877.7142857142857 1024"
                class="sign-up-with-email-steps-icon4"
              >
                <path
                  d="M877.714 512c0 242.286-196.571 438.857-438.857 438.857s-438.857-196.571-438.857-438.857 196.571-438.857 438.857-438.857 438.857 196.571 438.857 438.857z"
                ></path></svg
              ><svg
                viewBox="0 0 877.7142857142857 1024"
                class="sign-up-with-email-steps-icon6"
              >
                <path
                  d="M877.714 512c0 242.286-196.571 438.857-438.857 438.857s-438.857-196.571-438.857-438.857 196.571-438.857 438.857-438.857 438.857 196.571 438.857 438.857z"
                ></path>
              </svg>
            </div>
          </div>
          <div class="sign-up-with-email-steps-container04">
            <div class="sign-up-with-email-steps-container05">
              <span class="sign-up-with-email-steps-text">
                <span>Personal information</span>
              </span>
            </div>
            <div class="sign-up-with-email-steps-container06">
              <span class="sign-up-with-email-steps-text1">
                <span>Password setup</span>
              </span>
            </div>
            <div class="sign-up-with-email-steps-container07">
              <span class="sign-up-with-email-steps-text2">
                <span>Password setup</span>
              </span>
            </div>
            <div class="sign-up-with-email-steps-container08">
              <span class="sign-up-with-email-steps-text3">
                <span>Password setup</span>
              </span>
            </div>
          </div>
        </div>
        <div class="sign-up-with-email-steps-container09"></div>
      </div>
    </div>
  </div>
</div>
