<div>
  <link href="./top-nav-sign-up-page1.css" rel="stylesheet" />
  <div class="top-nav-sign-up-page1-top-nav-not-signed-in">
    <nav class="top-nav-sign-up-page1-centered">
      <div class="top-nav-sign-up-page1-left">
        <img
          alt="pastedImage"
          src="/playground_assets/pastedimage-no9b-200h.png"
          class="top-nav-sign-up-page1-logo"
        />
        <div class="top-nav-sign-up-page1-links">
          <a href="index.html" class="top-nav-sign-up-page1-navlink Link">
            <span>Action</span>
          </a>
          <a href="index.html" class="top-nav-sign-up-page1-text Link">
            <span>Adventure</span>
          </a>
          <a href="index.html" class="top-nav-sign-up-page1-text1 Link">
            <span>Comedy</span>
          </a>
          <a href="index.html" class="top-nav-sign-up-page1-text2 Link">
            <span>Horror</span>
          </a>
          <a href="index.html" class="top-nav-sign-up-page1-navlink1 Link">
            <span>Drama</span>
          </a>
          <a
            href="snack-selection.html"
            class="top-nav-sign-up-page1-navlink2 Link"
          >
            <span>Snacks</span>
          </a>
        </div>
      </div>
      <div class="top-nav-sign-up-page1-right">
        <a href="index.html" class="top-nav-sign-up-page1-login Link">
          <span>Login</span>
        </a>
        <div class="top-nav-sign-up-page1-sign-up">
          <span class="top-nav-sign-up-page1-text3"><span>Sign up</span></span>
        </div>
        <div id="open-mobile-menu" class="top-nav-sign-up-page1-burger-menu">
          <img
            alt="pastedImage"
            src="/playground_assets/pastedimage-yxbd.svg"
            class="top-nav-sign-up-page1-mobile-menu-button"
          />
        </div>
      </div>
    </nav>
  </div>
</div>
