<div>
  <link href="./top-nav-sign-up-page.css" rel="stylesheet" />
  <div class="top-nav-sign-up-page-top-nav-signed-in">
    <nav class="top-nav-sign-up-page-centered">
      <div class="top-nav-sign-up-page-left">
        <img
          alt="pastedImage"
          src="/playground_assets/pastedimage-no9b-200h.png"
          class="top-nav-sign-up-page-logo"
        />
        <div class="top-nav-sign-up-page-links">
          <a href="index.html" class="top-nav-sign-up-page-navlink Link">
            <span>Action</span>
          </a>
          <a href="index.html" class="top-nav-sign-up-page-text Link">
            <span>Adventure</span>
          </a>
          <a href="index.html" class="top-nav-sign-up-page-text1 Link">
            <span>Comedy</span>
          </a>
          <a href="index.html" class="top-nav-sign-up-page-text2 Link">
            <span>Horror</span>
          </a>
          <a href="index.html" class="top-nav-sign-up-page-navlink1 Link">
            <span>Drama</span>
          </a>
          <a
            href="snack-selection.html"
            class="top-nav-sign-up-page-navlink2 Link"
          >
            <span>Snacks</span>
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>
