.top-nav-sign-up-page-top-nav-signed-in {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.top-nav-sign-up-page-centered {
  width: 100%;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.top-nav-sign-up-page-left {
  width: 769px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.top-nav-sign-up-page-logo {
  width: 105px;
  margin-left: var(--dl-space-space-halfunit);
}
.top-nav-sign-up-page-links {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.top-nav-sign-up-page-navlink {
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.top-nav-sign-up-page-text {
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.top-nav-sign-up-page-text1 {
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.top-nav-sign-up-page-text2 {
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.top-nav-sign-up-page-navlink1 {
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.top-nav-sign-up-page-navlink2 {
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}








@media(max-width: 991px) {
  .top-nav-sign-up-page-top-nav-signed-in {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .top-nav-sign-up-page-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .top-nav-sign-up-page-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .top-nav-sign-up-page-logo {
    width: 64px;
  }
  .top-nav-sign-up-page-links {
    display: none;
  }
}
@media(max-width: 767px) {
  .top-nav-sign-up-page-top-nav-signed-in {
    padding-left: 0px;
    padding-right: 0px;
  }
  .top-nav-sign-up-page-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .top-nav-sign-up-page-left {
    margin-left: var(--dl-space-space-unit);
  }
}
