<div>
  <link href="./top-nav-not-signed-in.css" rel="stylesheet" />
  <div class="top-nav-not-signed-in-top-nav-signed-in">
    <nav class="top-nav-not-signed-in-centered">
      <div class="top-nav-not-signed-in-left">
        <img
          alt="pastedImage"
          src="public/playground_assets/logo.png"
          class="top-nav-not-signed-in-logo"
        />
        <div class="top-nav-not-signed-in-links">
          <a href="index.html" class="top-nav-not-signed-in-navlink Link">
            <span>Action</span>
          </a>
          <a href="index.html" class="top-nav-not-signed-in-text Link">
            <span>Adventure</span>
          </a>
          <a href="index.html" class="top-nav-not-signed-in-text1 Link">
            <span>Comedy</span>
          </a>
          <a href="index.html" class="top-nav-not-signed-in-text2 Link">
            <span>Horror</span>
          </a>
          <a href="index.html" class="top-nav-not-signed-in-navlink1 Link">
            <span>Drama</span>
          </a>
          <a
            href="snack-selection.html"
            class="top-nav-not-signed-in-navlink2 Link"
          >
            <span>Snacks</span>
          </a>
        </div>
      </div>
      <div class="top-nav-not-signed-in-right">
        <span class="top-nav-not-signed-in-login Link"><span>Login</span></span>
        <a href="sign-up.html" class="top-nav-not-signed-in-navlink3">
          <div class="top-nav-not-signed-in-sign-up">
            <span class="top-nav-not-signed-in-text3">
              <span>Sign up</span>
            </span>
          </div>
        </a>
        <div id="open-mobile-menu" class="top-nav-not-signed-in-burger-menu">
          <img
            alt="pastedImage"
            src="/playground_assets/pastedimage-yxbd.svg"
            class="top-nav-not-signed-in-mobile-menu-button"
          />
        </div>
      </div>
    </nav>
  </div>
</div>
